-- CREATE DATABASE kostal;

DROP TABLE IF EXISTS public.pvwr;
DROP SEQUENCE IF EXISTS pvwr_id_seq;
CREATE SEQUENCE pvwr_id_seq;
CREATE TABLE public.pvwr
(
    id bigint NOT NULL DEFAULT nextval('pvwr_id_seq'::regclass),
    "timestamp" timestamp with time zone NOT NULL DEFAULT CURRENT_TIMESTAMP,
    {% for column in columns -%}
    {{ column }} numeric NOT NULL,
    {% endfor -%}
    CONSTRAINT pvwr_pkey PRIMARY KEY (id)
)
WITH (
    OIDS = FALSE
)
TABLESPACE pg_default;

ALTER TABLE public.pvwr
    OWNER to inserter;

DROP ROLE IF EXISTS reader;
CREATE ROLE reader LOGIN;
GRANT SELECT ON TABLE public.pvwr TO reader;

GRANT ALL ON TABLE public.pvwr TO inserter;

